@CHARSET "UTF-8";
/*分页样式*/
.position-relative {
	margin: 0px auto;
	display: table;
	color: #666;
}

.pagination ul {
	list-style: none;
	margin: 20px auto;
}

.pagination ul li {
	padding: 5px 10px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	float: left;
}

.pagination ul li a {
	text-decoration: none;
}

.pagination ul li:last-child {
	padding: 5px 10px;
	border: 1px solid #ccc;
	float: left;
}

/*返回顶部*/
.back_top {
	width: 42px;
	height: 42px;
	position: fixed;
	z-index: 20;
	right: 10px;
	bottom: 40px;
	display: none;
}

.gotop {
	width: 100%;
	height: 100%;
}