<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="videoMapper">

    <select id="showTypes"  resultType="java.lang.Integer">
     select video_type from tb_video group by  video_type
    </select>

    <select id="CountByType"  resultType="java.util.Map">
     select video_type,count(*) count from tb_video group by  video_type
    </select>



    <select id="showByType" parameterType="java.lang.Integer" resultType="java.util.Map">
     select id,video_url,video_name,date_format(add_time,"%Y-%m-%d %T") as add_time,browse_num,video_type,video_num from tb_video where video_type=${id}
    </select>


    <insert id="addVideo" parameterType="PageData" >
     insert into tb_video(id,video_url,video_name,video_knowledge,add_time,browse_num,video_type,video_num,state)
     values (#{id},#{video_url},#{video_name},#{video_knowledge},STR_TO_DATE(#{add_time},"%Y-%m-%d %T"),0,#{video_type},#{video_num},#{state})
    </insert>

    <!--微课视频分页查询-->
    <select id="queryVideoInfoListPage" parameterType="Page" resultType="PageData">
        select id,video_url, video_knowledge,video_name, date_format(add_time,"%Y-%m-%d %T") as add_time, browse_num, video_type, video_num,state
        from tb_video
        where 1=1
        <if test="pd.video_name!=null and pd.video_name !=''">
            and video_name like concat('%', #{pd.video_name},'%')
        </if>
        <if test="pd.video_type!=null and pd.video_type !=''">
            and video_type=#{pd.video_type}
        </if>
        <if test="pd.state!=null and pd.state !=''">
            and state=#{pd.state}
        </if>
        order by add_time desc
    </select>

    <!--根据id查课程-->
    <select id="queryVideoById" parameterType="PageData" resultType="PageData">
        select video_url,video_knowledge, video_name, date_format(add_time,"%Y-%m-%d %T") as add_time, browse_num, video_type, video_num,state
        from tb_video
        where id=#{id}
    </select>

    <!--更新视频状态 -->
    <select id="updateVideoState" parameterType="PageData">
        UPDATE tb_video SET state = #{state} WHERE  id=#{id}
    </select>

</mapper>