<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="videoMapper">

    <select id="showTypes"  resultType="java.lang.Integer">
     select video_type from tb_video group by  video_type
    </select>

    <select id="CountByType"  resultType="java.util.Map">
     select video_type,count(*) count from tb_video group by  video_type
    </select>



    <select id="showByType" parameterType="java.lang.Integer" resultType="java.util.Map">
     select id,video_url,video_name,date_format(add_time,"%Y-%m-%d %T") as add_time,browse_num,video_type,video_num from tb_video where video_type=${id}
    </select>


    <insert id="addVideo" parameterType="PageData" >
     insert into tb_video(id,video_url,video_name,add_time,browse_num,video_type,video_num)
     values (#{id},#{video_url},#{video_name},STR_TO_DATE(#{add_time},"%Y-%m-%d %T"),0,#{video_type},#{video_num})
    </insert>

</mapper>