<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wordMapper">

    <insert id="addWord" parameterType="PageData" >
     insert into tb_word(word_id,voice_id,analy_id,japanese,word_title,kana,add_time,state)
     values (#{word_id},#{voice_id},#{analy_id},#{japanese},#{word_title},#{kana},STR_TO_DATE(#{add_time},"%Y-%m-%d %T"),#{state})
    </insert>

    <insert id="addAnaly" parameterType="PageData" >
     insert into tb_analy(analy_id,word_id,chinese,attribute)
     values (#{analy_id},#{word_id},#{chinese},#{attribute})
    </insert>

    <insert id="addVoice" parameterType="PageData" >
     insert into tb_voice(voice_id,type,voice_url)
     values (#{voice_id},#{type},#{voice_url})
    </insert>

    <insert id="addSentence" parameterType="PageData" >
     insert into tb_word_eg(eg_id,word_id,voice_id,sentence,translate)
     values (#{eg_id},#{word_id},#{voice_id},#{sentence},#{translate})
    </insert>


    <delete id="deleteWord" parameterType="PageData" >
     delete from tb_word where word_id=#{word_id}
    </delete>

    <delete id="deleteAnaly" parameterType="PageData" >
     delete from tb_analy where analy_id=#{analy_id}
    </delete>

    <delete id="deleteVoice" parameterType="PageData" >
     delete from tb_voice where voice_id=#{voice_id}
    </delete>

    <delete id="deleteSentence" parameterType="PageData" >
     delete from tb_word_eg where eg_id=#{eg_id}
    </delete>

    <delete id="deleteAnalyByWordId" parameterType="PageData" >
     delete from tb_analy where word_id=#{word_id}
    </delete>

    <delete id="deleteSentenceByWordId" parameterType="PageData" >
     delete from tb_word_eg where word_id=#{word_id}
    </delete>

    <delete id="deleteVoiceByWordId" parameterType="PageData" >
    delete from tb_voice where voice_id in
    (select c.* from (select b.voice_id from tb_word a join  tb_voice b on a.voice_id=b.voice_id where a.word_id=#{word_id}) c)
    </delete>

    <!--查询某类单词库单词总数-->
    <select id="queryWordCount" parameterType="PageData" resultType="PageData">
        select count(*) as count
        from tb_word where word_title=#{word_title}
    </select>

    <!--查询某次测试单词答题数-->
    <select id="queryWordRecordCount" parameterType="PageData" resultType="PageData">
        select count(*) as count
        from tb_word_record where record_id=#{record_id}
    </select>

    <!--查询某个单词答题信息-->
    <select id="queryWordRecordInfoById" parameterType="PageData" resultType="PageData">
        select *  from tb_word_record where record_id=#{record_id} and word_id=#{word_id}
    </select>

    <!--查询某个单词是否回答过-->
    <select id="queryWordRecordById" parameterType="PageData" resultType="PageData">
        select count(*) as count
        from tb_word_record where record_id=#{record_id} and word_id=#{word_id}
    </select>


    <!--更改答题记录-->
    <update id="updateAnswerWord" parameterType="PageData">
        update  tb_word_record
        <if test="flag==1">
            set true_num=true_num+1
        </if>
        <if test="flag==0">
            set false_num=false_num+1
        </if>
        where record_id=#{record_id} and  word_id=#{word_id} and state='0'
    </update>

    <!--增加答题记录-->
    <insert id="addAnswerWord" parameterType="PageData">
       insert   into tb_word_record(record_id,word_id,true_num,false_num)
       values(#{record_id},#{word_id},#{true_num},#{false_num})
    </insert>

    <!--更改测试记录-->
    <update id="updateTestInfo" parameterType="PageData">
        update  tb_word_test
          set   is_end='0',
                end_time=#{end_time}
         where record_id=#{record_id} and  user_id=#{user_id} and state='0'
    </update>


    <!--单词分页查询-->
    <select id="queryWordInfoListPage" parameterType="Page" resultType="PageData">
        select a.word_id,a.voice_id,a.analy_id,japanese,word_title,kana,date_format(add_time,"%Y-%m-%d %T") as add_time,state,chinese,attribute,type,voice_url,sentence,translate
        from tb_word a join tb_analy b on a.analy_id=b.analy_id
        join tb_voice c on a.voice_id=c.voice_id
        join tb_word_eg d on a.word_id=d.word_id
        where 1=1
        <if test="pd.japanese!=null and pd.japanese !=''">
            and japanese like concat('%', #{pd.japanese},'%')
        </if>
        <if test="pd.kana!=null and pd.kana !=''">
            and kana like concat('%', #{pd.kana},'%')
        </if>
        <if test="pd.chinese!=null and pd.chinese !=''">
            and chinese like concat('%', #{pd.chinese},'%')
        </if>
        <if test="pd.word_title!=null and pd.word_title !=''">
            and word_title like concat('%', #{pd.word_title},'%')
        </if>
        <if test="pd.attribute!=null and pd.attribute !=''">
            and attribute=#{pd.attribute}
        </if>
        <if test="pd.type!=null and pd.type !=''">
            and video_type=#{pd.video_type}
        </if>
        <if test="pd.state!=null and pd.state !=''">
            and state=#{pd.state}
        </if>
        order by add_time desc
    </select>

    <!--单词类别查询-->
    <select id="queryWordTitle" parameterType="PageData" resultType="PageData">
        select word_title,date_format(add_time,"%Y-%m-%d") as add_time
        from tb_word a join tb_analy b on a.analy_id=b.analy_id
        join tb_voice c on a.voice_id=c.voice_id
        join tb_word_eg d on a.word_id=d.word_id
        where 1=1 group by word_title
        order by add_time desc
    </select>

    <!--创建单词测试列表-->
    <insert id="addWordTest" parameterType="PageData" >
        insert into tb_word_test(record_id,user_id,word_title)
        values  (#{record_id},#{user_id},#{word_title})
    </insert>

    <!--查询单词测试列表-->
    <select id="queryWordTest" parameterType="PageData" resultType="PageData">
        select * from  tb_word_test where user_id=#{user_id} and word_title=#{word_title}
        <if test="is_end!=null and is_end!=''">
         and is_end=#{is_end}
        </if>
    </select>

    <!--查询单词答题记录-->
    <select id="queryWordRecord" parameterType="PageData" resultType="PageData">
        select * from  tb_word_record where record_id=#{record_id}
    </select>

    <!--查询单词测试列表 最近一次记录是否结束 记录表id-->
    <select id="queryWordTestIsEnd" parameterType="PageData" resultType="PageData">
        select is_end,record_id from (
        select * from  tb_word_test where user_id=#{user_id} and word_title=#{word_title}
        order by start_time desc
        ) a LIMIT 1

    </select>


    <!--随机生成三个干扰项-->
    <select id="queryAnalyRand" parameterType="PageData" resultType="PageData">
        select chinese,attribute from tb_analy where analy_id !=#{analy_id} order by rand() limit 3;
    </select>







</mapper>