@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0; border:0;}
.wape{ width:1000px; margin:0 auto;}
body{ font-size:12px; font-family:"微软雅黑";}
ul{ list-style:none;}
.fl{ float:left;}
.fr{ float:right;}
.clear{ clear:both;}
a{ text-decoration:none;}
/*登录页面*/
.login-top{ height:98px; margin:0 auto; width:1000px;}
.login-banner{ background:url(../images/xj-login-bg.jpg) no-repeat center #d8efff; height:450px;}
.login-footer{ text-align:center; margin-top:25px; line-height:24px; color:#888;}
.lg-logo{ margin-top:30px;}
.lg-link1{ float:right; margin-top:42px; font-size:14px; color:#444; margin-right:10px;}
.lg-link1:hover{ text-decoration:underline; color:#eb5901;}
.lg-link1 img{ vertical-align:middle; margin-right:5px; margin-top:-2px;}
.loginbox{ width:261px; height:312px; padding:18px 30px 0 30px; background:url(../images/xj-login-text1.png) no-repeat center; float:right; margin-top:60px; margin-right:10px; position:relative;}
.loginbox li .text1{ margin-top:20px; width:223px; height:32px; padding-left:28px; color:#666; font-size:14px;}
.loginbox li .text2{ margin-top:20px; width:120px; height:32px; padding-left:28px; color:#666; font-size:14px;}
.loginbox li .bg1{ background:url(../images/xj-input1.png) no-repeat center;}
.loginbox li .bg2{ background:url(../images/xj-input2.png) no-repeat center;}
.loginbox li .bg3{ background:url(../images/xj-input3.png) no-repeat center;}
.get-btn{ background:url(../images/xj-input4.png) no-repeat center top; width:90px; height:28px; margin-left:10px; cursor:pointer; outline:0; font-size:12px; color:#666; float:right; margin-top:20px; margin-right:7px;}
.get-btn:hover{ background:url(../images/xj-input4.png) no-repeat center bottom;}
.loginbtn{ width:251px; height:36px; background:url(../images/xj-submit.png) no-repeat top; display:block; text-align:center; line-height:36px; font-size:16px; color:#fff; font-weight:bold; margin-top:20px;}
.loginbtn:hover{background:url(../images/xj-submit.png) no-repeat bottom; }
.font1{ color:#999999; font-size:12px; margin-top:15px;}
.font1:hover{ text-decoration:underline; color:#666;}
.font2{ color:#333; font-size:14px; margin-top:15px;}
.font2:hover{ color:#df3850; text-decoration:underline;}
.error-text{ width:347px; position:absolute; right:330px; top:40px; z-index:1000000;}
.et-top{ height:8px; background:url(../images/error_bg.png) no-repeat -10px 0; width:347px;}
.et-cont{ background-image:url(../images/error_bg.png); background-position:-357px 0; background-repeat:repeat-y; padding:5px 10px 5px 20px;}
.et-foot{ height:8px; background:url(../images/error_bg.png) no-repeat -10px -8px; width:347px;}
.et-cont p{background-image:url(../images/error_bg.png); background-position:-714px -4px; background-repeat:no-repeat; line-height:22px;font-size:14px; font-weight:bold; padding:6px 0px 8px 50px; color:#666;}
.error-icon{background-image:url(../images/error_bg.png); background-position:0 0; background-repeat:no-repeat; width:10px; height:19px; position:absolute; right:-5px; top:20px;}
/*注册*/
.body1{ background:#f5f5f5}
.lg-logo2{ margin-top:25px; width:524px;}
.top-menu{ float:right; width:300px; font-size:14px; color:#666; margin-top:44px; text-align:right;}
.top-menu a{ color:#333; text-decoration:underline;margin-right:5px;}
.top-menu a:hover{ color:#df3850; }
.lg-main{ width:998px; margin:0 auto; margin-top:28px; padding-top:120px; border:1px solid #ddd; height:auto; overflow:hidden;padding-bottom:45px;}
.bg4{ background:url(../images/step1.png) no-repeat top #fff;}
.bg5{ background:url(../images/step2.png) no-repeat top #fff;}
.register{ margin-top:32px; margin-left:148px;}
.register h2{ color:#666; font-size:24px; font-weight:normal;}
.inputbox{ margin-top:24px;}
.inputbox li{ height:34px; margin-top:28px; font-size:12px; font-family:"宋体";}
.inputbox li input{ width:305px; height:32px; border:1px solid #c1c1c1; margin-right:14px; padding-left:5px; color:#666; line-height:32px;}
.inputbox li label{ display:inline-block; *display:inline; *zoom:1; width:104px; text-align:right; color:#555; line-height:34px;}
.inputbox li .get-btn2{ background:url(../images/xj-input4.png) no-repeat center top; width:96px; height:32px; margin-left:10px; border:none; cursor:pointer; outline:0; font-size:14px; color:#666; margin-left:-3px;}
.inputbox li .get-btn2:hover{ background:url(../images/xj-input4.png) no-repeat center bottom;}
.inputbox li .width1{ width:196px;*margin-left:-42px;}
.reg-btn{ width:97px; height:38px; display:block; background:url(../images/xj-submit2.png) no-repeat top; text-align:center; line-height:38px; color:#fff; font-size:16px; font-weight:bold; margin-left:104px;}
.reg-btn:hover{ background:url(../images/xj-submit2.png) no-repeat bottom; }
.reg-sucess{ width:401px; margin:57px auto;}
.checkmark{ width:71px; float:left;}
.reg-suc-text{ width:300px; float:right;}
.reg-suc-text h2{ font-size:32px; color:#333;}
.reg-suc-text .font3{ font-size:16px; color:#999; margin-top:28px;}
.sub-btn1{ margin-top:28px; width:138px; height:38px; color:#fff; text-align:center; line-height:38px; font-size:16px; background:url(../images/xj-submit3.png) no-repeat top;}
.sub-btn1:hover{ background:url(../images/xj-submit3.png) no-repeat bottom;}
.sub-btn2{ margin-top:28px; width:138px; height:38px; color:#666666; text-align:center; line-height:38px; font-size:16px; background:url(../images/xj-submit4.png) no-repeat top; margin-left:10px;}
.sub-btn2:hover{ background:url(../images/xj-submit4.png) no-repeat bottom;}
/*登陆成功*/
.body2{ background:url(../images/bg1.png) repeat-x top;}
.login-top2{ height:85px; margin:0 auto; width:1000px;}
.bgbox{ height:187px; background:url(../images/bg2.png) no-repeat center top;height:auto; overflow:hidden; clear:both;}
.lg-logo3{ margin-top:14px; width:364px;}
.top-menu2{ float:right; width:300px; font-size:14px; color:#666; margin-top:34px; text-align:right;}
.top-menu2 a{ color:#333; text-decoration:none;margin:0 5px;}
.top-menu2 a:hover{ color:#df3850; }
.top-menu2 b{ color:#ff8300; margin-right:10px;}
.top-menu2 .color1{ color:#ef3c5d;}
.lg-listbox { width:1000px; margin:0 auto; }
.lg-listbox li{ width:190px; height:115px; float:left; margin-left:10px; margin-bottom:12px;}
.lg-listbox li a{ display:block; width:190px; height:115px;}
.lg-listbox .icon1{ background:url(../images/sys_14.png) no-repeat center;}
.lg-listbox .icon2{ background:url(../images/sys_07.png) no-repeat center;}
.lg-listbox .icon3{ background:url(../images/sys_17.png) no-repeat center;}
.lg-listbox .icon4{ background:url(../images/sys_09.png) no-repeat center;}
.lg-listbox .icon5{ background:url(../images/sys_11.png) no-repeat center;}
.lg-listbox .icon6{ background:url(../images/sys_24.png) no-repeat center;}
.lg-listbox .icon7{ background:url(../images/sys_25.png) no-repeat center;}
.lg-listbox .icon8{ background:url(../images/sys_26.png) no-repeat center;}
.lg-listbox .icon9{ background:url(../images/sys_27.png) no-repeat center;}
.lg-listbox .icon10{ background:url(../images/sys_28.png) no-repeat center;}
.lg-listbox .icon11{ background:url(../images/sys_34.png) no-repeat center;}
.lg-listbox .icon12{ background:url(../images/sys_35.png) no-repeat center;}
.lg-listbox .icon13{ background:url(../images/sys_36.png) no-repeat center;}
.lg-listbox .icon14{ background:url(../images/sys_37.png) no-repeat center;}
.lg-listbox .icon15{ background:url(../images/sys_38.png) no-repeat center;}
.lg-listbox .icon1:hover{ background:url(../images/xj-icon_03.png) no-repeat center #30b2bf;}
.lg-listbox .icon2:hover{ background:url(../images/xj-icon_05.png) no-repeat center #8bba30;}
.lg-listbox .icon3:hover{ background:url(../images/xj-icon_07.png) no-repeat center #2f91be;}
.lg-listbox .icon4:hover{ background:url(../images/xj-icon_09.png) no-repeat center #ef3c5d;}
.lg-listbox .icon5:hover{ background:url(../images/xj-icon_11.png) no-repeat center #83a8c3;}
.lg-listbox .icon6:hover{ background:url(../images/xj-icon_14.png) no-repeat center #ebb741}
.lg-listbox .icon7:hover{ background:url(../images/xj-icon_19.png) no-repeat center #4e81b1}
.lg-listbox .icon8:hover{ background:url(../images/xj-icon_26.png) no-repeat center #8bba30}
.lg-listbox .icon9:hover{ background:url(../images/xj-icon_22.png) no-repeat center #04acad}
.lg-listbox .icon10:hover{ background:url(../images/xj-icon_24.png) no-repeat center #2f91be}
.lg-listbox .icon11:hover{ background:url(../images/xj-icon_34.png) no-repeat center #f2854c}
.lg-listbox .icon12:hover{ background:url(../images/xj-icon_35.png) no-repeat center #83a8c3}
.lg-listbox .icon13:hover{ background:url(../images/xj-icon_38.png) no-repeat center #ef3c5d}
.lg-listbox .icon14:hover{ background:url(../images/xj-icon_41.png) no-repeat center #ebb741}
.lg-listbox .icon15:hover{ background:url(../images/xj-icon_40.png) no-repeat center #496b8c}
.lg-footer2{ text-align:center; margin-top:25px; line-height:24px; padding-bottom:25px;color:#888; background:url(../images/sys_44.png) no-repeat center top; padding-top:25px;}
.er-notice{ padding-left:3px; margin-top:10px; color:#d80000; line-height:20px; margin-right:10px;}

