@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0; border:0;}
body{ font-size:12px; font-family:"微软雅黑"; color:#222; background:#f5f5f5;}
a{ text-decoration:none;}
ul{ list-style:none;}
.clear{ clear:both;}
.fl{ float:left;}
.fr{ float:right;}
.wrape{ width:1000px; margin:0 auto;}

/*公用css*/
.top-menu{ height:36px; background:#fcfcfc; line-height:36px;}
.top-navbox{ background:url(../images/xj-share_23.jpg) repeat-x top; height:87px; }
.welcome{ width:250px; margin-right:10px; float:left;}
.login{  float:left; height:36px; }
.login-user{ color:#666; position:relative;  z-index:300; background:#fcfcfc;}
.login-user a{ color:#333;}
.login-user .user{ color:#e43e41; margin-right:15px;}
.login-user a:hover{ text-decoration:underline; color:#e43e41}
.login-no{ color:#ddd;}
.login-no a{ color:#333; margin:0 12px;}
.login-no a:hover{ color:#e43e41; text-decoration:underline;}
.line1{ color:#ddd; font-weight:normal; padding:0 15px;}
.user-icon{ background:url(../images/xj-share_15.jpg) no-repeat 25px 15px; display:inline-block; width:28px;  padding-left:11px; padding-right:11px; margin-right:10px;}
.user-icon2{ background:url(../images/xj-share_15.jpg) no-repeat 30px 15px #fff; display:inline-block; width:28px; padding-left:10px; padding-right:10px; margin-right:10px; border:1px solid #ddd; border-top:none; border-bottom:none; }
.user-icon img{ vertical-align:mniddle;}
.share{ width:360px; float:right; text-align:right; color:#ddd;}
.share img{ vertical-align:middle; margin-right:5px; margin-top:-2px;}
.share a{ color:#333; margin-left:10px; padding-right:10px;}
.logo{ width:230px; float:left; margin-top:26px;}
.nav{ width:400px; height:33px; line-height:33px; margin-top:30px; float:left; margin-left:40px;}
.nav ul li{ float:left; width:83px; margin-right:14px; text-align:center; font-size:14px; position:relative;}
.nav ul li a{ color:#fff; display:block; width:100%;}
.nav ul li a.active{ background:url(../images/nav-bg.png) no-repeat;position:relative;}
.search-box{ width:320px; height:57px; margin-top:14px; float:right;overflow:hidden;}
.label{ height:auto; overflow:hidden;}
.label a{ color:#fff; font-size:12px; float:left; width:53px; height:26px; text-align:center; line-height:23px; margin-right:10px;}
.label a:hover{color:#fff; text-decoration:none;}
.label a.select{ background:url(../images/xj-share_44.png) no-repeat center;}
.icon1{ vertical-align:middle; margin-left:6px;}
.inputbox{ margin-top:3px;}
.inputbox input{ width:281px; height:28px; line-height:28px; font-size:12px; color:#666; padding-left:5px; border:none; outline:none; float:left;}
.inputbox  a{ float:right;background:url(../images/xj-share_26.jpg) no-repeat; width:33px; height:28px; margin-right:1px;}
.footer{background:#eee; border-top:1px solid #e0e0e1; padding:25px 0; line-height:24px; text-align:center; margin-top:15px;}
.user-message{ width:220px; background:#fff; position:absolute; height:160px; top:35px;*top:23px; left:124px; border:1px solid #ddd; z-index:-1; line-height:28px;}
.photo{ border:1px solid #ddd; float:left; margin-top:10px; margin-left:10px; margin-right:10px;}
.username{color:#333; font-size:12px; line-height:24px; margin-top:12px; float:left;}
.username a{color:#e43e42; font-size:14px;}
.status{ margin:10px; padding-left:5px; line-height:22px; border-top:1px solid #ddd; padding-top:10px;*padding-top:5px;}
.status a{ color:#1f85cd;}
.nav-bar2{ position:absolute; top:25px; left:-240px; z-index:1000; width:600px; padding-top:20px;}
.nav-bar{background:#fff; border:1px solid #ddd;width:600px; height:auto; overflow:hidden; padding-bottom:10px;}
.nav ul li  .nav-bar2 a{ color:#333; font-size:14px; float:left; width:24%; margin-right:1%; line-height:38px;}
.nav ul li  .nav-bar2 a:hover{ color:#e43e41;}
.nav ul li  .nav-bar2 i{ position:absolute; top:-1px;*top:15px; z-index:11000; left:270px;}
   /*公用-左侧菜单*/
.main{ width:1000px; margin:0 auto; height:auto; overflow:hidden;}
.side-bar{ width:220px; background:#fff; height:auto; overflow:hidden; padding-bottom:60px; padding-top:10px; float:left;}
.side-bar li{ line-height:40px; border-bottom:1px solid #e4eaee; margin:0 10px;}
.side-bar li i.icon2{ background:url(../images/xj-share_35.jpg) no-repeat; width:17px; height:17px; margin-top:10px; margin-right:10px; cursor:pointer;}
.side-bar li i.icon3{ background:url(../images/xj-share_35.jpg) no-repeat bottom; width:17px; height:17px; margin-top:10px; margin-right:10px; cursor:pointer;}

.side-bar li a{ color:#222; font-size:14px;  font-weight:bold; margin-left:15px;}
.side-bar li .second-level{ height:auto; overflow:hidden; margin-bottom:10px;}
.side-bar li .second-level dd{ line-height:16px; margin-left:24px; padding-bottom:10px;}
.side-bar li .second-level dd a{font-weight:normal; font-size:13px; color:#666; }
.side-bar li .second-level dd a:hover{ color:#222; text-decoration:underline;}
.side-bar li .second-level dd a.select{ color:#ff3333;}
.side-bar li .second-level dd a.select:hover{ color:#ff3333; text-decoration:none;}
.custom{ width:26px; height:26px; position:fixed; bottom:10px; right:10px; z-index:1000px;}
/*共享数据右侧内容*/
.content-fr{ width:765px;float:right; margin-top:12px;}
.title{ height:39px; line-height:39px; background:url(../images/xj-share_31.jpg) no-repeat 20px 13px; padding-left:32px; font-size:14px; color:#222; border-bottom:1px solid #e8e8e8;}
.term{ margin-left:20px; line-height:47px;}
.term span{ margin-left:12px; color:#888;}
.term input[type="text"]{ border:1px solid #ddd; background:#fff; padding-left:5px; height:22px; line-height:22px; margin-left:5px;}
.term  select{ border:1px solid #ddd; height:22px; line-height:22px; width:92px; margin-left:5px;}
.search-btn1{ display:inline-block; width:48px; height:22px; background:url(../images/xj-share_38.jpg) no-repeat left; vertical-align:middle; margin-top:-4px; margin-left:12px;}
.search-btn1:hover{ background:url(../images/xj-share_38.jpg) no-repeat right;}
.table1{ margin:0 10px;}
.table1 table .tr-bg td{ background:url(../images/table-bg.jpg) repeat-x top; line-height:43px; height:46px; text-align:center; color:#222; font-weight:bold; border:none; }
.table1 table tr td{ border-bottom:1px solid #ddd; line-height:41px; color:#888; text-align:center;} 
.table1 table tr:hover{ background:#f8f8f8;}
.table1 table tr.active td{ background:#effced;}
.table1 table tr.active td:hover{ background:#effced;}
.page{ height:22px; margin:0 0 22px 0; text-align:center; padding-top:15px;}
.page .prev{ background:url(../images/page_07.jpg) no-repeat; display:inline-block; width:22px; height:22px;}
.page .next{ background:url(../images/page_13.jpg) no-repeat; display:inline-block; width:22px; height:22px;}
.page .prev:hover{ background:url(../images/page_07.jpg) no-repeat; display:inline-block; width:22px; height:22px;}
.page .next:hover{ background:url(../images/page_13.jpg) no-repeat; display:inline-block; width:22px; height:22px;}
.page a{ display:inline-block; width:22px; height:22px; margin-left:10px; line-height:22px; text-align:center; color:#8f8f8f; background:url(../images/page_11.jpg) no-repeat; vertical-align:middle;}
.page a:hover{ background:url(../images/page_09.jpg) no-repeat; color:#fff;}
.page a.active{ background:url(../images/page_09.jpg) no-repeat; color:#fff;}

/*新增需求*/
.notice1{ float:right; margin-right:10px; color:#333;}
.notice1 font{ color:#e43e41;}
.add-form{ margin:15px 20px; font-size:14px; color:#333;}
.add-form li{ line-height:44px;}
.add-form li label{ float:left; width:120px; text-align:right;}
.add-form li p{ float:left; margin-left:8px; width:590px;}
.notes{ margin-left:10px; color:#666; font-size:13px;}
.notes i{ color:#d20004; font-style:normal; font-weight:bold; margin-right:5px;}
.text1{ width:290px; height:24px; border:1px solid #ddd; line-height:24px; padding-left:5px;}
.text2{ width:160px; height:24px; border:1px solid #ddd; line-height:24px; padding-left:5px;}
.select1{ width:100px; height:24px; border:1px solid #ddd; line-height:24px; padding-left:5px;}
.add-form li.service{ line-height:30px;  clear:both; padding-bottom:10px; height:auto; overflow:hidden;}
.service span{ margin:0 10px;}
.service input[type="checkbox"]{ margin-right:5px; vertical-align:middle; margin-top:-2px;}
.add-form li.edittxt{ position:relative;}
.add-form li.edittxt .notes{ position:absolute; top:410px; right:-10px;}
.add-form-btn{ margin-left:130px; clear:both; height:auto; overflow:hidden;margin-bottom:20px;*margin-top:15px;}
.add-form-btn a{ float:left; margin-right:20px; width:120px; height:40px; line-height:40px; text-align:center; color:#fff; font-size:14px;} 
.add-form-btn a.btn1{ background:#e43f42; border-radius:3px;}
.add-form-btn a.btn2{ background:#f8f8f8; border-radius:3px; border:1px solid #eee; color:#333;}
.add-form-btn a.btn3{ background:#ff8900; border-radius:3px;}
.add-form-btn a.btn4{ background:#95d721; border-radius:3px;}
.add-form-btn a.btn1:hover{ background:#d41f22; border-radius:3px;}
.add-form-btn a.btn2:hover{ background:#eee; border-radius:3px; border:1px solid #eee; color:#333;}
.add-form-btn a.btn3:hover{ background:#e37b00; border-radius:3px;}
.add-form-btn a.btn4:hover{ background:#7ebb11; border-radius:3px;}
/*我的企业信息*/
.company{ width:620px; margin:20px auto;}
.company li{ line-height:39px; border-bottom:1px dashed #e8e8e8; font-size:14px; color:#222;}
.title-s1{ margin-right:3px;}
.title-s2{ color:#666;}
.com-btn{  height:auto; overflow:hidden;margin-bottom:20px;margin-top:15px;}
.com-btn a{ float:left; margin-right:20px; width:120px; height:40px; line-height:40px; text-align:center; color:#fff; font-size:14px;} 
.com-btn a.btn1{ background:#e43f42; border-radius:3px;}
.com-btn a.btn2{ background:#f8f8f8; border-radius:3px; border:1px solid #eee; color:#333;}
.com-btn a.btn1:hover{ background:#d41f22; border-radius:3px;}
.com-btn a.btn2:hover{ background:#eee; border-radius:3px; border:1px solid #eee; color:#333;}

.side-bar li.active  a{ color:#cc0000;}
.side-bar .clear{ cursor:pointer; height:auto; overflow:hidden;}
.msn-num{ color:#ffffcc;}


/*左侧客服*/
 .sidebar-float{width:38px;position:fixed;left:0;bottom:138px;z-index:90000;border:1px solid #d9d9d9;_position:absolute}
 .sidebar-float .has-border{border-bottom:1px solid #d9d9d9}
 .sidebar-float a{display:block;height:38px;text-align:center;color:transparent;background:url(../images/kef.png) no-repeat;_background:url(images/kef.png) no-repeat 0 0; position:relative; font-size:0; line-height:0;}
 .sidebar-float a:hover{color:#fff;background-image:none;background-color:#999;text-decoration:none; font-size:12px; line-height:18px;}
 .sidebar-float .is-top{background-position:0 -44px;}
 .sidebar-float .is-wx{background-position:0 -90px}
 .sidebar-float .is-app{background-position:0 -136px}
 .sidebar-float .is-feedback{background-position:0 0}
 .ks-ie6 .sidebar-float a,.ks-ie7 .sidebar-float a,.ks-ie8 .sidebar-float a{line-height:114px}
 .ks-ie6 .sidebar-float a:hover,.ks-ie7 .sidebar-float a:hover,.ks-ie8 .sidebar-float a:hover{line-height:1.6}
 .rate-gift-tip{position:relative;margin-top:10px;text-align:center;background:#fff6e1;color:#dfb082;border:1px solid #e3bd99;zoom:1}
 .rate-gift-tip .tip-arrow,.rate-gift-tip .tip-arrow-b{position:absolute;top:-10px;left:35px;width:0;height:0;font-size:0;line-height:0;border-left:5px dotted transparent;border-right:5px dotted transparent;border-top:5px dotted transparent}
 .rate-gift-tip .tip-arrow{border-bottom:5px solid #e3bd99}.rate-gift-tip .tip-arrow-b{margin-top:1px;border-bottom:5px solid #fff6e1}
 .wx-box {position: absolute;display:none;width: 172px;height: 212px;bottom: -10px;right:32px;-webkit-transition: opacity 0.25s;-moz-transition: opacity 0.25s;transition: opacity 0.25s;opacity: 0;filter: alpha(opacity=0);background: url(../images/elevator.png) no-repeat 0 0; z-index:100;}
 .sidebar-float .wx-box{ display:none;opacity: 1;filter: alpha(opacity=100);}
 .app-box {position: absolute;display:none;width: 172px;height: 194px;bottom: -10px;right: 32px;-webkit-transition: opacity 0.25s;-moz-transition: opacity 0.25s;transition: opacity 0.25s;opacity: 0;filter: alpha(opacity=0);background: url(../images/elevator.png) no-repeat 0 -222px; z-index:100;}
 .sidebar-float  .app-box{ display:none;opacity: 1;filter: alpha(opacity=100);}
 
 /*错误页*/
.error-page{ background-color:#fff!important;}
.error1{ width:630px; height:260px; position:absolute; left:50%; top:50%; margin-left:-315px; margin-top:-130px;}
.error1 .img2{ margin-top:52px;}
.error-btn{ background:url(../images/error-btn.gif) no-repeat left; width:80px; height:34px; line-height:34px; margin:15px 0px 0px 5px; text-align:center; display:block; font-size:14px; font-family:"微软雅黑"; color:#666; text-decoration:none;}
.error-btn:hover{ background:url(../images/error-btn.gif) no-repeat right; color:#fff; text-decoration:none;}
.error2{ width:870px; height:260px; position:absolute; left:50%; top:50%; margin-left:-435px; margin-top:-130px;}
.margin06{ margin-top:52px;}
.error3{ width:920px; height:260px; position:absolute; left:50%; top:50%; margin-left:-460px; margin-top:-130px;}

.error-notice{width:460px; height:260px; position:absolute;  top:50%; left:50%; margin-top:-130px; margin-left:-230px;}